	  <Placemark>
        <name>{{line_name}}</name>
        <styleUrl>#line-{{line_color}}</styleUrl>
        <LineString>
          <tessellate>1</tessellate>
          <coordinates>
            {{coordinates}}
          </coordinates>
        </LineString>
	  </Placemark>