<?xml version="1.0" encoding="UTF-8"?>
<kml xmlns="http://www.opengis.net/kml/2.2">
  <Document>
    <name>{{map_name}}</name>
    <description/>
    <Style id="line-red">
      <LineStyle>
        <color>ff0000ff</color>
        <width>3</width>
      </LineStyle>
    </Style>
	<Style id="line-lightred">
      <LineStyle>
        <color>ff6666ff</color>
        <width>3</width>
      </LineStyle>
    </Style>
	<Style id="line-blue">
      <LineStyle>
        <color>ffff0000</color>
        <width>3</width>
      </LineStyle>
    </Style>
	<Style id="line-lightblue">
      <LineStyle>
        <color>ffff9900</color>
        <width>3</width>
      </LineStyle>
    </Style>
	<Style id="line-green">
      <LineStyle>
        <color>ff00ff00</color>
        <width>3</width>
      </LineStyle>
    </Style>
	<Style id="line-darkgreen">
      <LineStyle>
        <color>ff00cc00</color>
        <width>3</width>
      </LineStyle>
    </Style>
	<Style id="line-yellow">
      <LineStyle>
        <color>ff00ffff</color>
        <width>3</width>
      </LineStyle>
    </Style>
	<Style id="line-orange">
      <LineStyle>
        <color>ff0099ff</color>
        <width>3</width>
      </LineStyle>
    </Style>
	{{{folders}}}
  </Document>
</kml>
